@import url(https://unpkg.com/primeicons/primeicons.css);


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.client_card {
  flex: 0 0 auto;
  margin: 25px 10px;
  width: 18rem;
}

.p-dropdown-panel {
  z-index: 1200 !important;
}

[v-cloak] {
  display: none;
}