{% extends 'base/base.html' %}

{% block pagename %}Мои корзины{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <div>
              <table class="table align-items-center">
                <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="id">id</th>
                  <th scope="col" class="sort" data-sort="time">Время создания</th>
                  <th scope="col" class="sort" data-sort="contragent">Контрагент</th>
                  <th scope="col" class="sort" data-sort="user">Пользователь</th>
                  <th scope="col" class="sort" data-sort="user">Сумма</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="sessions_table" class="list">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col">
    <nav id="nav-pager" aria-label="..." class="pt-3 ml-3">
    </nav>
  </div>
{% endblock %}

{% block additional_scripts %}
  <script src="../static/{{ commit_hash }}/assets/js/rvd/sessions.js"></script>
{% endblock %}