<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RVD SEM</title>
  <!-- Favicon -->
  <link rel="icon" href="../static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="../static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="../static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="../static/assets/css/argon.css?v=1.2.0" type="text/css">

  <script src="../static/assets/js/fstdropdown.js"></script>
  <link rel="stylesheet" href="../static/assets/css/fstdropdown.css">
</head>

<body>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="javascript:void(0)">
        <img src="../static/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/main">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Главная</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center  ml-md-auto ">
          <li class="nav-item d-xl-none">
            <!-- Sidenav toggler -->
            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                 data-target="#sidenav-main">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
              <i class="ni ni-zoom-split-in"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="../static/assets/img/theme/team-4.jpg">
                  </span>
                <div class="media-body  ml-2  d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">Иванов Иван</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu  dropdown-menu-right ">
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <!-- Header -->
  <div class="header pb-6 d-flex align-items-center"
       style="min-height: 250px;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-20 col-md">
          <h1 class="display-2 text-white">Создание заказа</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-4 order-xl-2">
        <div class="card card-profile">
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex">
              <h1 class="display-2">Итог</h1>
            </div>
            <hr class="my-4">
          </div>
          <div class="card-body pt-0">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Наименование</th>
                  <th scope="col" class="sort" data-sort="number">Количество</th>
                  <th scope="col" class="sort" data-sort="fullprice">цена</th>
                </tr>
                </thead>
                <tbody class="list">
                <tr>
                  <td>
                    <span class="name mb-0 text-sm"><b>Рукав DK test</b></span>
                  </td>
                  <td class="number">
                    <b>1</b>
                  </td>
                  <td class="fullprice">
                    <b>1₽</b>
                  </td>
                </tr>
                </tbody>
              </table>
              <hr class="my-4">
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary">Печать чека</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Редактирование заказа </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Информация о клиенте</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg">
                    <div class="form-group">
                      <label class="form-control-label" for="input-clientname">Организация или имя
                        клиента</label>
                      <input type="text" id="input-clientname" class="form-control"
                             placeholder="ООО &#34Рога и Копыта&#34">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4"/>
              <!-- Address -->
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="heading-small text-muted mb-4">Состав заказа</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary" data-toggle="modal"
                     data-target="#addModal">Добавить рукав</a>

                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Наименование</th>
                      <th scope="col" class="sort" data-sort="number">Количество</th>
                      <th scope="col" class="sort" data-sort="price">цена за штуку</th>
                      <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    <tr>
                      <td>
                        <span class="name mb-0 text-sm">Рукав DK test</span>
                      </td>
                      <td class="number">
                        <input class="form-control" type="number" placeholder="количество" value="1">
                      </td>
                      <td class="price">
                        <input class="form-control" type="number" placeholder="цена" value="1">
                      </td>
                      <td class="fullprice">
                        1₽
                      </td>
                      <td>
                        <a class="nav-link" href="/main">
                          <i class="fa fa-trash-alt text-red"></i>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr class="my-4"/>
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Комментарии</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Комментарий к заказу</label>
                  <textarea rows="4" class="form-control" placeholder="Собрать к 20:30"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Добавление рукава</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Рукав -->
            <h6 class="heading-small text-muted mb-4">Выбор рукава</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-diameter">Диаметр</label>
                    <select class="form-control fstdropdown-select" id="input-diameter">
                      <option value="">Выберите диаметр</option>
                      <option value="1">5 мм</option>
                      <option value="2">10 мм</option>
                      <option value="3">12 мм</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-braid">Тип оплетки</label>
                    <select class="form-control fstdropdown-select" id="input-braid">
                      <option value="">Выберите оплетку</option>
                      <option value="1">15N</option>
                      <option value="2">25N</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-pipe">Шланг</label>
                    <select class="form-control fstdropdown-select" id="input-pipe">
                      <option value="">Выберите шланг</option>
                      <option value="1">Рукав 1</option>
                      <option value="2">Рукав 2</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-length">Длина рукава (м)</label>
                    <input id="input-length" class="form-control" type="number" placeholder="1">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Фитинги -->
            <h6 class="heading-small text-muted mb-4">Фитинги</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fit-std-1">Стандарт фитинга 1</label>
                    <select class="form-control fstdropdown-select" id="input-fit-std-1">
                      <option value="">Выберите стандарт фитинга</option>
                      <option value="1">DK</option>
                      <option value="2">DKI</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fit-std-2">Стандарт фитинга 2</label>
                    <select class="form-control fstdropdown-select" id="input-fit-std-2">
                      <option value="">Выберите стандарт фитинга</option>
                      <option value="1">DK</option>
                      <option value="2">DKI</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fit-1">Фитинг</label>
                    <select class="form-control fstdropdown-select" id="input-fit-1">
                      <option value="">Выберите фитинг</option>
                      <option value="1">DK 2x03</option>
                      <option value="2">DK 2x06</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fit-2">Фитинг</label>
                    <select class="form-control fstdropdown-select" id="input-fit-2">
                      <option value="">Выберите фитинг</option>
                      <option value="1">DK 2x03</option>
                      <option value="2">DK 2x06</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-muf-1">Муфта</label>
                    <select class="form-control fstdropdown-select" id="input-muf-1">
                      <option value="">Выберите муфту</option>
                      <option value="1">Муфта 2x03</option>
                      <option value="2">Муфта 2x06</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-muf-2">Муфта</label>
                    <select class="form-control fstdropdown-select" id="input-muf-2">
                      <option value="">Выберите муфту</option>
                      <option value="1">Муфта 2x03</option>
                      <option value="2">Муфта 2x06</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Подытог</h6>
            <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Наименование</th>
                      <th scope="col" class="sort" data-sort="number">Количество</th>
                      <th scope="col" class="sort" data-sort="price">цена за штуку</th>
                      <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    <tr>
                      <td>
                        <span class="name mb-0 text-sm">Рукав DK test</span>
                      </td>
                      <td class="number">
                        <input class="form-control" type="number" placeholder="количество" value="1">
                      </td>
                      <td class="price">
                        <input class="form-control" type="number" placeholder="цена" value="1">
                      </td>
                      <td class="fullprice">
                        1₽
                      </td>
                      <td>
                        <a class="nav-link" href="/main">
                          <i class="fa fa-trash-alt text-red"></i>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 СтройЭксперт-М
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="../static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="../static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="../static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="../static/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>