{% extends 'base/base.html' %}

{% block additional_head %}
  <script src="https://unpkg.com/primevue@^3/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/column/column.min.js"></script>
{% endblock %}

{% block pagename %}Заказы{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div id="ordersapp" class="card-body">
          <p-datatable :value="orders" :lazy="true" :paginator="true"
                       :rows="rows" ref="dt"
                       data-key="_id" :first="offset"
                       v-model:total-records="totalRecords" :loading="loading" @page="onPage($event)"
                       @sort="onSort($event)"
                       :global-filterFields="['_id','created_at', 'contragent.name', 'selection.subtotal.total_price']"
                       responsive-layout="scroll"
                       v-cloak>
            <p-column field="order_num" header="Номер" filter-field="_number" sort-field="_number" filter-match-mode="contains"
                      ref="order_num" :sortable="true">
            </p-column>
            <p-column field="time_created" header="Дата создания" filter-match-mode="contains" ref="time_created"
                      :sortable="true">
            </p-column>
            <p-column field="contragent.name" header="Контрагент" filter-field="contragent.name"
                      ref="contragent.name" :sortable="true">
            </p-column>
            <p-column field="user.username" header="Пользователь" filter-field="user.username"
                      ref="user.username">
            </p-column>
            <p-column field="_price" header="Сумма"
                      filter-field="_price"
                      ref="_price" :sortable="true">
              <template #body="{data}">
                [[ data._price ]]₽
              </template>
            </p-column>
            </p-column>
            <p-column field="status" header="Статус"
                      filter-field="status"
                      ref="status" :sortable="true">
            </p-column>
            <p-column header-style="width: 4rem; text-align: center"
                      body-style="text-align: center; overflow: visible">
              <template #body="{data}">
                <div class="d-flex">
                  <a @click="openOrder([[ data._id ]])" class="nav-link" href="#!"><i
                      class="fa fa-eye text-blue"></i></a>
                </div>
              </template>
            </p-column>
          </p-datatable>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block additional_scripts %}
  <script src="../static/{{ commit_hash }}/assets/js/vue/orders/orders.js"></script>
{% endblock %}