{% extends 'base/base.html' %}

{% block pagename %}<div class="row">Заказ #<div id="order_num">N</div></div>{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Наименование</th>
                <th scope="col" class="sort" data-sort="number">Количество</th>
                <th scope="col" class="sort" data-sort="price">цена за штуку</th>
                <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
              </tr>
              </thead>
              <tbody id="items_list" class="list">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block additional_scripts %}
  <script src="../static/assets/js/rvd/order.js"></script>
{% endblock %}