<h6 class="heading-small mb-2">Состав</h6>

<div class="table-responsive">
  <table id="select_subtotal" class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="sort" data-sort="name">Наименование</th>
      <th scope="col" class="sort" data-sort="number">Количество</th>
      <th scope="col" class="sort" data-sort="price">цена за штуку</th>
      <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="list">
    <tr v-for="(item, index) in current_selection.items">
      <td>
        <span class="name mb-0 text-sm">[[ item.name ]]</span>
      </td>
      <td class="number">
        <span class="name mb-0 text-sm">[[ item.amount ]]</span>
      </td>
      <td class="number">
        <span class="name mb-0 text-sm">[[ item.price ]] ₽</span>
      </td>
      <td class="number">
        <span class="name mb-0 text-sm">[[ item.total_price ]] ₽</span>
      </td>
      <td>
        <div class="row">
          <a class="nav-link" @click="editItem(index)" href="#!"><i class="fa fa-edit text-blue mr-2"></i></a>
          <a class="nav-link" @click="delItem(index)" href="#!"><i class="fa fa-trash-alt text-red mr-2"></i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
