<form id="arm_section">
  <div class="row">
    <div class="col-lg-6">
      <div class="d-flex form-group">
        <label class="form-control-label w-100 p-2" for="input-arm-diameter">Диаметр</label>
        <select name="diameter" class="form-control form-control-sm fstdropdown-select" id="input-arm-diameter">
          <option value="">Выберите диаметр</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex form-group">
        <label class="form-control-label w-100 p-2" for="input-arm-braid">Тип оплетки</label>
        <select name="braid" class="form-control form-control-sm fstdropdown-select" id="input-arm-braid">
          <option value="">Выберите оплетку</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="d-flex form-group">
        <label class="form-control-label w-100 p-2" for="input-arm-type">Тип рукава</label>
        <select name="arm_type" class="form-control form-control-sm fstdropdown-select" id="input-arm-type">
          <option value="">Выберите тип рукава</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex form-group">
        <label class="form-control-label w-100 p-2" for="input-length">Длина рукава (м)</label>
        <input name="amount" id="input-arm-length" class="form-control form-control-sm" type="number" placeholder="1">
      </div>
    </div>
  </div>
  <div class="d-flex form-group">
    <label class="form-control-label w-25 p-2" for="input-arm">Рукав</label>
    <select name="id" class="fstdropdown-select form-control form-control-sm" id="input-arm">
      <option value="">Выберите рукав</option>
    </select>
  </div>
</form>