<div class="table-responsive">
  <div class="col mb-4">
    <select name="sale" class="form-control form-control-sm fstdropdown-select fstcreated" id="input-sale">
      <option value="">Выберите скидку</option>
      <option type="number" value="0">0%</option>
    </select>
    <div class="fstdiv">
      <div class="fstdropdown" tabindex="0">
        <div class="fstselected">Выберите скидку</div>
        <div class="fstsearch"><input class="fstsearchinput" placeholder=""></div>
        <div class="fstlist">
          <div data-value="" class="selected">Выберите скидку</div>
          <div data-value="0">0%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4 mb-4" v-cloak>
    <h5 class="h4">
      Клиент: [[ contragent? contragent.name: '' ]] [[ contragent? contragent.surname: '' ]]
    </h5>
  </div>
  <div class="text-center mt-4 mb-4" v-cloak>
    <h5 class="h4">
      Сумма: [[ (cart && cart.subtotal)? cart.subtotal: 0 ]] ₽
    </h5>
  </div>
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <button @click="checkout()" type="button" class="btn btn-primary">Создать заказ</button>
  </div>
</div>