<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="sort" data-sort="name">Наименование</th>
      <th scope="col" class="sort" data-sort="number">Количество</th>
      <th scope="col" class="sort" data-sort="fullprice">цена</th>
    </tr>
    </thead>
    <tbody class="list">
    {% for item in items %}
      <tr>
        <td>
          <span class="name mb-0 text-sm"><b>{{ item.name }}</b></span>
        </td>
        <td class="number">
          <b>{{ item.amount }}</b>
        </td>
        <td class="fullprice">
          <b>{{ item.price }} ₽</b>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Печать чека</button>
  </div>
</div>