<div class="table-responsive">

  <div class="col mb-4">
    <select name="sale" class="form-control fstdropdown-select" id="input-sale">
      <option value="">Выберите скидку</option>
      <option type="number" value="0">0%</option>
    </select>
  </div>
    <div class="text-center mt-4 mb-4">
    <h5 class="h4">
      Клиент: <span id="client_name"></span>
    </h5>
  </div>
  <div class="text-center mt-4 mb-4">
    <h5 class="h4">
      Сумма: <span id="cart_total"></span> ₽
    </h5>
  </div>
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <button id="checkout_btn" type="button" class="btn btn-primary">Печать чека</button>
  </div>
</div>