{% extends 'base/base.html' %}

{% block additional_head %}
  <script src="https://unpkg.com/primevue@3.8.2/dropdown/dropdown.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/core/core.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/inputswitch/inputswitch.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/column/column.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/columngroup/columngroup.min.js"></script>
  <script src="https://unpkg.com/primevue@3.8.2/card/card.min.js"></script>
  <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>

{% endblock %}

{% block content %}

  <!-- Page content -->
  <div class="row">
    <div class="col-xl-9 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Редактирование заказа </h3>
            </div>
            <div class="flex-fill justify-content-end text-right">
              <div>
                <a class="col-md-1" href="#!" onclick="del_order()">
                  <i class="fa fa-trash-alt text-red">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">Информация о клиенте</h6>
          {% include 'create_order/_contragent.html' %}
          <hr class="my-4"/>
          <div>
            <div class="d-flex flex-row">
              <div class="text-nowrap">
                <h3 class="heading-small text-muted mb-4">Состав заказа</h3>
              </div>
              <div class="w-100 text-right">
                <a href="#!" class="btn btn-sm btn-primary" data-toggle="modal"
                   data-target="#addModal">Добавить рукав</a>
                <a href="#!" data-target="#addPartModal" data-toggle="modal" class="btn btn-sm btn-primary">Добавить
                  запчасть</a>
              </div>
            </div>
            <div id="cart">
              {% include "create_order/items_list.html" %}
            </div>
          </div>
          <hr class="my-4"/>
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">Комментарии</h6>
          <div class="pl-lg-4">
            <div class="form-group">
              <label for="comment_text" class="form-control-label">Комментарий к заказу</label>
              <textarea id="comment_text" rows="4" class="form-control"
                        placeholder="Собрать к 20:30"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 order-xl-2">
      <div class="card card-profile">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex">
            <h1 class="display-2">Итог</h1>
          </div>
          <hr class="my-4">
        </div>
        <div class="card-body pt-0" id="checkout_list">
          {% include 'create_order/checkout_list.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="card col">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Мои корзины</h3>
        </div>
      </div>
    </div>
    <nav id="nav-pager" aria-label="..." class="pt-3 ml-3">
    </nav>
  </div>
  <!-- Modal -->
  {% include 'create_order/new_modal.html' %}
  {% include 'create_order/part_modal.html' %}
  {% include 'create_order/create_contr_modal.html' %}

{% endblock %}

{% block additional_scripts %}
  <script src="../static/{{ commit_hash }}/assets/js/rvd/cart_worker.js"></script>
  <script src="../static/{{ commit_hash }}/assets/js/vue/rvd_picker.js"></script>
  <script src="../static/{{ commit_hash }}/assets/js/vue/part_finder.js"></script>
  <script src="../static/{{ commit_hash }}/assets/js/vue/cart.js"></script>
  <script src="../static/{{ commit_hash }}/assets/js/vue/contragent.js"></script>
  <script src="../static/{{ commit_hash }}/assets/js/vue/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
          integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
{% endblock %}

