<form id="${this.id}">
  <input type="hidden" name="type" value="${this.type}">
  <div class="d-inline-flex"><h6 class="heading-small mb-2 w-100">Выбор фитинга</h6>
    <input name="part_name" id="${this.id}_input-part-name" class="form-control form-control-sm ml-1" type="text"
           placeholder="Фитинг N"></div>
  <div class="d-flex">
    <div class="form-group flex-shrink-1">
      <label class="form-control-label w-100 p-2" for="${this.id}_input-fit-type">Тип фитинга</label>
      <select name="fiting_type" class="form-control form-control-sm fstdropdown-select" id="${this.id}_input-fit-type">
        <option value="">Выберите стандарт фитинга</option>
        <option value="1">DK</option>
        <option value="2">DKI</option>
      </select>
    </div>
    <div class="form-group flex-shrink-1">
      <label class="form-control-label w-100 p-2" for="${this.id}_input-fit-carving">Резьба фитинга</label>
      <select name="carving" class="form-control form-control-sm fstdropdown-select" id="${this.id}_input-fit-carving">
        <option value="">Выберите резьбу</option>
        <option value="1">6</option>
        <option value="2">8</option>
      </select>
    </div>
    <div class="form-group flex-shrink-1">
      <label class="form-control-label w-100 p-2" for="${this.id}_input-angle">Угол</label>
      <select name="id" class="form-control form-control-sm fstdropdown-select" id="${this.id}_input-fit-angle">
        <option value="">Выберите угол</option>
        <option value="1">DK 2x03</option>
        <option value="2">DK 2x06</option>
      </select>
    </div>
  </div>
  <div class="d-flex form-group">
    <label class="form-control-label w-100 p-2" for="${this.id}_input-fit">Фитинг</label>
    <select name="clutch_name" class="form-control form-control-sm fstdropdown-select" id="${this.id}_input-fit">
      <option value="">Выберите фитинг</option>
      <option value="1">Муфта 2x03</option>
      <option value="2">Муфта 2x06</option>
    </select>
  </div>
</form>

