<div class="row">
  <div class="col-lg-6">
    <form id="fiting_1_section">
      <div class="form-group">
        <label class="form-control-label" for="input-fit-std-1">Стандарт фитинга 1</label>
        <select name="fiting_type" class="form-control fstdropdown-select" id="input-fit-std-1">
          <option value="">Выберите стандарт фитинга</option>
          <option value="1">DK</option>
          <option value="2">DKI</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-fit-d-1">Диаметр фитинга</label>
        <select name="diameter" class="form-control fstdropdown-select" id="input-fit-d-1">
          <option value="">Выберите диаметр</option>
          <option value="1">6</option>
          <option value="2">8</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-fit-1">Фитинг</label>
        <select name="name" class="form-control fstdropdown-select" id="input-fit-1">
          <option value="">Выберите фитинг</option>
          <option value="1">DK 2x03</option>
          <option value="2">DK 2x06</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-muf-1">Муфта</label>
        <select name="clutch_name" class="form-control fstdropdown-select" id="input-muf-1">
          <option value="">Выберите муфту</option>
          <option value="1">Муфта 2x03</option>
          <option value="2">Муфта 2x06</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form id="fiting_2_section">
      <div class="form-group">
        <label class="form-control-label" for="input-fit-std-2">Стандарт фитинга 2</label>
        <select name="fiting_type" class="form-control fstdropdown-select" id="input-fit-std-2">
          <option value="">Выберите стандарт фитинга</option>
          <option value="1">DK</option>
          <option value="2">DKI</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-fit-d-2">Диаметр фитинга</label>
        <select name="diameter" class="form-control fstdropdown-select" id="input-fit-d-2">
          <option value="">Выберите диаметр</option>
          <option value="1">6</option>
          <option value="2">8</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-fit-2">Фитинг</label>
        <select name="name" class="form-control fstdropdown-select" id="input-fit-2">
          <option value="">Выберите фитинг</option>
          <option value="1">DK 2x03</option>
          <option value="2">DK 2x06</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="input-muf-2">Муфта</label>
        <select name="clutch_name" class="form-control fstdropdown-select" id="input-muf-2">
          <option value="">Выберите муфту</option>
          <option value="1">Муфта 2x03</option>
          <option value="2">Муфта 2x06</option>
        </select>
      </div>
    </form>
  </div>

</div>
