<p-datatable :value="cart.items"  v-cloak>
  <p-column field="name" header="Наименование"></p-column>
  <p-column field="amount" header="Количество"></p-column>
  <p-column field="price" header="Цена за штуку">
    <template #body="{data}">
      [[ data.price ]]₽
    </template>
  </p-column>
  <p-column field="total_price" header="Общая цена">
    <template #body="{data}">
      [[ data.total_price ]]₽
    </template>
  </p-column>
  <p-column header-style="width: 4rem; text-align: center"
            body-style="text-align: center; overflow: visible">
    <template #body="{index}">
      <a @click="deleteItem(index)" class="nav-link" href="#!"><i class="fa fa-trash-alt text-red"></i></a>
    </template>
  </p-column>
</p-datatable>