<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление рукава</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center form-group">
          <label class="custom-toggle">
            <input id="rvd_only_present" onclick="updateAllSections()" name="only_present" type="checkbox" checked>
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <div class="ml-2">только в наличии</div>
        </div>
        <!-- Рукав -->
        <h6 class="heading-small text-muted mb-4">Выбор рукава</h6>
        <div class="pl-lg-4">
          {% include 'create_order/arm_section.html' %}
        </div>
        <div class="col-4 text-left">
          <a href="#!" onclick="dropArm()" class="btn btn-sm btn-primary">Сбросить рукав</a>
        </div>
        <hr class="my-4"/>
        <!-- Фитинги -->
        <h6 class="heading-small text-muted mb-4">Фитинги</h6>
        <div class="pl-lg-4">
          {% include 'create_order/fiting_section.html' %}
        </div>
        <div class="col-4 text-left">
          <a href="#!" onclick="dropFits()" class="btn btn-sm btn-primary">Сбросить фитинги</a>
          <a href="#!" onclick="dropClutches()" class="btn btn-sm btn-primary">Сбросить муфты</a>
        </div>
        <hr class="my-4"/>
        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">Подытог</h6>
        <div class="table-responsive">
          <table id="select_subtotal" class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Наименование</th>
              <th scope="col" class="sort" data-sort="number">Количество</th>
              <th scope="col" class="sort" data-sort="price">цена за штуку</th>
              <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
              <td>
                <span class="name mb-0 text-sm">Рукав DK test</span>
              </td>
              <td class="number">
                <input class="form-control" type="number" placeholder="количество" value="1">
              </td>
              <td class="price">
                <input class="form-control" type="number" placeholder="цена" value="1">
              </td>
              <td class="fullprice">
                1₽
              </td>
              <td>
                <a class="nav-link" href="/main">
                  <i class="fa fa-trash-alt text-red"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button onclick="addToCart()" type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>