<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление рукава</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Рукав -->
        <h6 class="heading-small text-muted mb-4">Выбор рукава</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-diameter">Диаметр</label>
                <select class="form-control fstdropdown-select" id="input-diameter">
                  <option value="">Выберите диаметр</option>
                  <option value="1">5 мм</option>
                  <option value="2">10 мм</option>
                  <option value="3">12 мм</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-braid">Тип оплетки</label>
                <select class="form-control fstdropdown-select" id="input-braid">
                  <option value="">Выберите оплетку</option>
                  <option value="1">15N</option>
                  <option value="2">25N</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-pipe">Шланг</label>
                <select class="form-control fstdropdown-select" id="input-pipe">
                  <option value="">Выберите шланг</option>
                  <option value="1">Рукав 1</option>
                  <option value="2">Рукав 2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-length">Длина рукава (м)</label>
                <input id="input-length" class="form-control" type="number" placeholder="1">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4"/>
        <!-- Фитинги -->
        <h6 class="heading-small text-muted mb-4">Фитинги</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-fit-std-1">Стандарт фитинга 1</label>
                <select class="form-control fstdropdown-select" id="input-fit-std-1">
                  <option value="">Выберите стандарт фитинга</option>
                  <option value="1">DK</option>
                  <option value="2">DKI</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-fit-std-2">Стандарт фитинга 2</label>
                <select class="form-control fstdropdown-select" id="input-fit-std-2">
                  <option value="">Выберите стандарт фитинга</option>
                  <option value="1">DK</option>
                  <option value="2">DKI</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-fit-1">Фитинг</label>
                <select class="form-control fstdropdown-select" id="input-fit-1">
                  <option value="">Выберите фитинг</option>
                  <option value="1">DK 2x03</option>
                  <option value="2">DK 2x06</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-fit-2">Фитинг</label>
                <select class="form-control fstdropdown-select" id="input-fit-2">
                  <option value="">Выберите фитинг</option>
                  <option value="1">DK 2x03</option>
                  <option value="2">DK 2x06</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-muf-1">Муфта</label>
                <select class="form-control fstdropdown-select" id="input-muf-1">
                  <option value="">Выберите муфту</option>
                  <option value="1">Муфта 2x03</option>
                  <option value="2">Муфта 2x06</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-muf-2">Муфта</label>
                <select class="form-control fstdropdown-select" id="input-muf-2">
                  <option value="">Выберите муфту</option>
                  <option value="1">Муфта 2x03</option>
                  <option value="2">Муфта 2x06</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4"/>
        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">Подытог</h6>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Наименование</th>
              <th scope="col" class="sort" data-sort="number">Количество</th>
              <th scope="col" class="sort" data-sort="price">цена за штуку</th>
              <th scope="col" class="sort" data-sort="fullprice">Общая цена</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
              <td>
                <span class="name mb-0 text-sm">Рукав DK test</span>
              </td>
              <td class="number">
                <input class="form-control" type="number" placeholder="количество" value="1">
              </td>
              <td class="price">
                <input class="form-control" type="number" placeholder="цена" value="1">
              </td>
              <td class="fullprice">
                1₽
              </td>
              <td>
                <a class="nav-link" href="/main">
                  <i class="fa fa-trash-alt text-red"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>