<div class="modal fade" id="addModal" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl modal-l" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление рукава</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="rvd-modal-body">
        </div>

        <div id="rvd-modal-vue-body">
          <div class="d-flex align-items-center form-group">

          </div>
          <div class="d-flex align-items-center form-group">
            <div class="form-control-label p-3">Тип рукава:</div>
            <p-dropdown v-model="current_selection.job_type" :options="job_types" option-label="name"
                        option-value="value"
                        placeholder="Тип рукава" @change="updateRVDType"></p-dropdown>
            <div class="form-control-label ml-4 p-3">Только в наличии:</div>
            <p-inputswitch id="rvd_only_present" @change="getItems" v-model="only_present">
            </p-inputswitch>
          </div>
          <hr class="my-2"/>

          <div class="d-flex align-items-center form-group">
            <div class="form-control-label p-3">Тип детали:</div>
            <p-dropdown v-model="part.type" :options="part_types" option-label="name"
                        option-value="value"
                        placeholder="Тип детали" @change="setType"></p-dropdown>
          </div>
          <div class="d-flex row">
            <div class="col">
              <div v-if="part.type === 'arm'">
                {% include 'create_order/sections/_arm_section.html' %}
              </div>
              <div v-if="part.type === 'fiting'">
                {% include 'create_order/sections/_fiting_section.html' %}
              </div>
              <div v-if="part.type === 'clutch'">
                {% include 'create_order/sections/_clutch_section.html' %}
              </div>
              <div v-if="part.type === 'pipe'">
                {% include 'create_order/sections/_pipe_section.html' %}
              </div>
              <div v-if="part.type === 'service'">
                {% include 'create_order/sections/_service_section.html' %}
              </div>
            </div>
            <div class="col">
              {% include'create_order/_part_total.html' %}
            </div>
          </div>
          <div v-if="current_selection.items.length !== 0">
            <hr class="my-4"/>
            {% include 'create_order/_selection.html' %}
          </div>
          <hr class="my-4"/>

          <!-- Subtotal -->

          <h6 class="heading-small mb-2">Подытог</h6>
          {% include 'create_order/_selection_subtotal.html' %}

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button @click="addToCart" type="button" class="btn"
                :class="[total_errors.length !== 0 ? 'btn-danger': 'btn-primary']"
                :disabled="total_errors.length !== 0">Сохранить
        </button>
      </div>
    </div>
  </div>
</div>