<div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="addContragentModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавление запчасти</h5>
        <div class="flex-fill justify-content-end text-right">
          <div class="text-right col">
            <a href="#!" @click="dropPart()" class="btn btn-sm btn-primary">Сбросить
              запчасть</a>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="part_form">
          <div class="d-flex align-items-center form-group">
            <div v-if="!is_service" class="d-flex align-items-center">
              <div class="form-control-label pr-3">Только в наличии:</div>
              <p-inputswitch v-model="form.only_present">
              </p-inputswitch>
            </div>
            <div class="form-control-label ml-3 pr-3">Услуга:</div>
            <p-inputswitch v-model="is_service">
            </p-inputswitch>
          </div>
          <div v-if="!is_service">
            {% include 'create_order/part_sections/_part_section.html' %}
          </div>
          <div v-else>
            {% include 'create_order/part_sections/_service_section.html' %}
          </div>
        </form>
        <h5 class="h4">
          Цена: [[ price.price ? price.price: 0 ]] ₽
        </h5>
        <div>
          <h5 class="h4">
            Общая цена: [[ price.full_price ? price.full_price: 0 ]] ₽
          </h5>
        </div>
        <div class=" text-nowrap text-danger mt-2" v-if="errors">
          <div v-for="error in errors"><small>[[ error ]]</small></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button @click="submitPart()" type="button" class="btn btn-primary"
                :class="[errors.length !== 0 ? 'btn-danger': 'btn-primary']"
                :disabled="errors.length !== 0">Сохранить
        </button>
      </div>
    </div>
  </div>
</div>